https://download.pytorch.org/whl/cpu/torch-1.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
torchvision==0.8.1
fastai==2.1.7
Flask==1.1.2
future==0.18.2
gunicorn==20.0.4
ipython
ipython-genutils==0.2.0
joblib==0.17.0
pickleshare==0.7.5
Pillow
